<div class='homepage_container'>

  <div class='intro_paragraph'>
    <div class='intro_text'>
      <p class='intro_headline'>
        Get Shit Done
      </p>
      <p class='intro_subheadline'>
        Track your daily tasks
      </p>
      <% if current_user %>
        <%= link_to 'Start Tracking Your Success Today', goals_path, class: 'button' %>
      <% else %>
        <%= link_to 'Start Tracking Your Success Today', login_path, class: 'button' %>
      <% end %>
    </div>
  </div>

  <div class='row logo_section'>
    <h2>Successive Life Works With These Apps</h2>
    <div class='large-4 columns'>
      <div class='github_logo'>
      </div>
    </div>
    <div class='large-4 columns'>
      <div class='fitbit_logo'>
      </div>
    </div>
    <div class='large-4 columns'>
      <div class='good_reads_logo'>
      </div>
    </div>
  </div>

  <div class='example_dashboard'>
    <h2>Check your daily progress and longest streak</h2>
    <div class='example_dashboard_pic'>

    </div>
  </div>

  <footer>

  </footer>
</div>
