// Place all the styles related to the Goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#background {
  background: #2f3f43;
  height: 100%;
  width: 100%;
  position: absolute;
}

.boxes {
  border-radius: 10px;
}

#sidebar {
  position: fixed;
  padding: 0 20px 0 20px;
  top: 45px;
  bottom: 0px;
  width: 250px;
  margin:10px;
  padding: 10px;
  border-radius: 5px;
  background: #d5f0f0;
}

#github {
  // float: left;
  width: 60%;
  height: 200px;
  margin: 10px 0 0 270px;
  padding: 10px;
  border-radius: 5px;
  background: #f5f5f5;
}

#mini_logo {
  height: 50px;
}

#fitbit {
  width: 60%;
  height:200px;
  margin: 10px 0 0 270px;
  padding: 10px;
  border-radius: 5px;
  background: white;
}

#goodreads {
  width: 60%;
  height: 200px;
  margin: 10px 0 0 270px;
  padding: 10px;
  border-radius: 5px;
  background: #f0f0e4;
}
