.homepage_container {
  background-color: #ebebeb;
}

.top-bar{
  background-color: #7dbbc2;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  padding-left: 30px;
  background-color: #7dbbc2;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  color: black;
  background-color: #7dbbc2;
}

.intro_paragraph {
  height: 100vh;
  width: 100%;
  background-image: url('prgramming_pic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.intro_text {
  text-align: center;
  color: white;
}
.intro_headline {
  font-size: 5em;
  padding-top: 14%;
  margin-bottom: 0;
}

.intro_subheadline {
  font-size: 1.5em;
}

.logo_section {
  width: 100%;
  height: 100%;
  background-color: #ebebeb;
  text-align: center;
}

.logo_section h2 {
  font-size: 2em;
  padding-top: 5%;
  margin: 0;
}

.github_logo {
  width: 100%;
  height: 200px;
  background-image: url('github.png');
  background-repeat: no-repeat;
  background-size: 75% auto;
  margin-left: auto;
}

.fitbit_logo {
  width: 100%;
  height: 200px;
  background-image: url('fitbit.png');
  background-repeat: no-repeat;
  background-size: 75% auto;
  margin-left: auto;
  margin-top: 22%;
}

.good_reads_logo {
  width: 100%;
  height: 200px;
  background-image: url('good_reads.png');
  background-repeat: no-repeat;
  background-size: 75% auto;
  margin-left: auto;
  margin-top: 25%;
}

.example_dashboard {
  padding-top: 30px;
  background-color: white;
  text-align: center;
}

.profile_pic {
  width: 100%;
  height: 225px;
  margin-left: auto;
  background-image: url('fake_profile.jpg');
  background-repeat: no-repeat;
  background-size: 75% auto;
}

.github_and_hotstreak {
}

.example_dashboard {
  margin-top: 25px;
}

.top_dash{
  margin-top: 35px;
}
.example_dashboard .github_logo{
  margin-top: 25px;
  background-size: 68% auto;
  left: 95%;
}

.hot_streak_stamp {
  height:100%;
  width:100%;
  background-image: url('hot_streak.png');
  background-size: 85% auto;
  background-repeat: no-repeat;
}

.streak_data {
  margin-top: 55px;
}
.streak_data_title{
  margin-left: auto;
  font-size: 1.5em;
  margin-left: 14px;
  font-weight: 500;
}

.progress {
  margin-top: 30px;
}

.longest_streak {
  margin-top: 50px;
  font-size: 1.2em;
  color: #F24B00;
}

.github_panel {
  min-height: 40em;
  min-width: 40em;
  margin: auto;
  border-radius: 2em;
  background-image: url('opaque_kitty.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.github-username {
  padding-top: 7.5em;
  margin: auto;
  width: 45%;
}

.github-goal-edit {
  margin: auto;
  width: 40%;
}

.github-goal-edit label{
  text-align: left;
  margin-left: 1.4em;
}

.github-goal-edit select {
  width: 50%;
}

.github_panel_edit {
  min-height: 40em;
  min-width: 40em;
  margin: auto;
  border-radius: 2em;
  background-image: url('opaque_color_octocat.png');
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
}

.github_panel_edit h1 {
  padding-top: 2em;
}

.alert-box.success{
  width: 50%;
  margin: auto;
  background-color: #FF6D00;
  border-color: #FF6D00;
  margin-top: 20px;
}

.alert-box.failure {
  width: 50%;
  margin: auto;
}

.alert-box.warning {
  width: 50%;
  margin: auto;
  background-color: #FF6D00;
  border-color: #FF6D00;
  margin-top: 20px;
  position: fixed;
  left: 25%;

}

.progress {
  background-color: #dadada;
  margin-top: 0;
}
